body{
    background-color:black;
}


*{
  font-family: "Roboto",  sans-serif	;
}
.mainfront{
    height:550px;
    width: 100%;
    background: linear-gradient(to bottom , rgba(0, 0, 0, 0) 90%, black 100%),linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 10%),url("https://images.unsplash.com/photo-1475257026007-0753d5429e10?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  
   background-repeat: no-repeat;
   background-size:cover;
    
}



.a{
    
    color: rgb(0, 0, 0);
    font-size:25px;
    padding: 2px;
   
}



.nav {
    height:45px;
    width: 95%;
    position: absolute;
    top: 5%;
    right: 2.5%;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 10px;
    overflow: hidden;
  }
  

  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:"Roboto";
  }
  
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .nav a.active {
    background-color: #04AA6D;
    color: white;
    font-family:"Roboto";
  }


.nav a.l{
    float: left;
    background-color:inherit;
    color: rgb(0, 0, 0);
    font-size:20px;
    text-align: center;

  }

 
.wow{
    color: white;
    position: absolute;
    top: 30%;
    left: 58%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family:"Montserrat";
    width: 800px;

}


.text1{
color: white;
position: absolute;
top: 48%;
left:50%;
transform: translate(-50%, -50%);
width: 700px;
font-family:"Roboto", sans-serif	;
font-size:16px ;
}

.cont {
    display: flex;
    height: 100px;
  }
  
.leftt{
    
    position: relative;
    top: 0px;

    color: white;
    
    flex: 1;
    
    padding: 20px;
 

 
}

.rightt{
    flex: 1;
    
    padding: 20px;
    border-radius: 100px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(97, 229, 181, 0.6);
    background-image: url("https://images.pexels.com/photos/31165145/pexels-photo-31165145/free-photo-of-moody-close-up-of-palm-leaves-in-darkness.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.content__item {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
  .button--janus {
    font-weight: 700;
    width: 200px;
    height: 110px;
    font-size: 18px;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
  }
  
  .button--janus span {
    display: inline-block;
    width: 100%;
    text-align: center;
    pointer-events: auto; 
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  
  
  
  .button--janus::before {
    content: '';
    background:  #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
    clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
    transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.3s ease;
  }
  
  .button--janus:hover::before {
    background: #04AA6D;
    -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
    clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
  }
  
  .button--janus::after {
    content: '';
    position: absolute;
    height: 86%;
    width: 97%;
    top: 5%;
    left: 1.5%;
    border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    border: 1px solid #04AA6D;
    transform: rotate(-20deg);
    z-index: -1;
    color: white;
    transition: transform 0.3s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  }
  .button--janus:hover {
    color: #ffffff; 
}
  
  .button--janus:hover::after {
    transform: translate3d(0,-15px,0);
  }
  

  
  

  .button--janus span:hover {
    transform: translate3d(0, -15px, 0);
  }


  .test{
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
  }




  .cont2 {
    display: flex;
    height: 100px; /* full screen height */
  }
  
.leftt2{

    flex: 1;
    
    padding: 20px;
    border-radius: 100px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(97, 229, 181, 0.6);
    background-image: url("https://images.pexels.com/photos/19203691/pexels-photo-19203691/free-photo-of-close-up-of-ruellia-devosiana-plant-leaves.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}


 

.rightt2{
    
    color: white;
    
    flex: 2;
    
    padding: 20px;
}


.cont3 {
    display: flex;
    height: 400px; 
   
    /* background-color: aqua; */
  }

.ab{
    position: relative;
    flex: 4;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px  rgba(97, 229, 181, 0.6);
    background-image: url("https://images.pexels.com/photos/19203703/pexels-photo-19203703/free-photo-of-big-leaves-of-plant.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}


.cd{
    flex: 0.5 ;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background-image: url("https://images.pexels.com/photos/16537921/pexels-photo-16537921/free-photo-of-close-up-of-fern-leaves.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}


.ef{
    flex: 0.5;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background-image: url("https://images.pexels.com/photos/11405904/pexels-photo-11405904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}


.upper{
    font-size: 50px;
    color: white;
}
.lower{
    position: absolute;
    bottom: 10%;
    right: 5%;
    
    color: white;
}



.line1{
    height: 1;
    width: 98%;
    background-color: white;
}
.line2{
    height: 1;
    width: 98%;
    background-color: white;   
}
.cont4{
    display: flex;
    height: 350px; 
   
   
    position: relative;
}

.insidecont{
    display: flex;
    height: 60px; 
   
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
}
.no{
    position: absolute;
    font-size: 60px;
    left: 7%;
    color: white;
    top: 0%;
}
.text2{
    position: absolute;
    font-size: 17px;
    left: 16%;
    color: rgb(255, 255, 255);
    bottom: 0%;
    width: 70%;
}
.insidecont2{
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
}

.insideimgleft{

    flex: 1;
   
    margin: 30px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 100px;
    height: 150px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    background-image: url("https://images.pexels.com/photos/5418830/pexels-photo-5418830.jpeg?auto=compress&cs=tinysrgb&w=1200");
}


 

.insidetxtrt{
    
    color: white;
    
    flex: 1;
    
    padding: 20px;
    font-size: 20px;
   
    margin-top: 100px;
}

.cont5{
  position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    height: 600px;
    background-color: rgb(0, 0, 0);
}

.cont5lfimg{
  flex: 1;
   position: relative;
  height: 200px;
  width: 400px;
  margin: 20px;
  border-radius: 5px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  background-image: url("https://images.pexels.com/photos/19196727/pexels-photo-19196727/free-photo-of-a-mountain-range-with-trees-and-clouds-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.cont5rtimg{
  flex: 1;
   position: relative;
  height: 470px;
  border-radius: 5px;
  margin: 20px;
  margin-left: 60px;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  background-image: url("https://images.pexels.com/photos/19383904/pexels-photo-19383904/free-photo-of-a-waterfall-is-seen-in-the-mountains.jpeg?auto=compress&cs=tinysrgb&w=1200");
}


.cont5h{
  position: absolute;
  top: 38%;
  width: 500px;
  left:20px;
  
  color: white;

}
.cont5txt{
  position: absolute;
  top: 50%;
  width: 500px;
  left:20px;
  
  color: white;

  

}
